fastapi
uvicorn
python-multipart
python-dotenv

pymupdf
pandas
requests
reportlab

faiss-cpu

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface

sentence-transformers

groq